<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, id!</p>
    </header>
    <div style="width: 30%; padding: 4rem;"> <!-- For Testing only, don't inlude in production.--> 
        <div class="card card--primary">
            <header class="card__header">Card Title</header>
            <div class="card__body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea explicabo neque dolores itaque accusamus ab error. Ipsa odio optio recusandae accusantium esse, ab debitis dolorem praesentium odit modi, repellat sit?
            </div>
        </div>
    </div>
</section>

<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, id!</p>
    </div>
</section>