    <!-- Inside of Nav: Logo, Toggler Button and List of items-->
    <nav class="navigation collapsible">
        <a class="navigation__brand" href="/"><img src="images/logo.svg" alt=""></a>
        <svg class="icon icon--white navigation__toggler">
            <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
        <ul class="list navigation__list collapsible__content">
            <li class="navigation__item"><a href="#">Hosting</a></li>
            <li class="navigation__item"><a href="#">VPS</a></li>
            <li class="navigation__item"><a href="#">Domain</a></li>
            <li class="navigation__item"><a href="#">Pricing</a></li>
        </ul>
    </nav>